{% extends "base/main.html" %} 

{% block page-content %}
  <div class="row">
    <div class="col-12">
      <h1>Cloud-admin</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-8 col-lg-6">
      <h2>Projects</h2>
      <p>The projects available in this application are:</p>
      <table class="table table-striped table-condensed">
        <tr>
          <th>Name</th>
          <th>Description</th>
        </tr>
      </table>
    </div>  
  </div>
{% endblock page-content %} 
