{% load staticfiles %} <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" 
        content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" 
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
      crossorigin="anonymous">
    <link href="{% static 'main.css' %}" rel="stylesheet">

    <title> 
      {% block title %} 
        {{ title|default:"CloudAdmin login" }} 
      {% endblock title %}
    </title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="#">CloudAdmin</a>
    </nav>

    <div class="container">
      <h1>Cloud-resource administration portal.</h1>
      <p>This portal is used for administration of the NTNU cloud resources.
      Users with administrative privileges can log in here to administert
      openstack projects/quotas, in addition to the ceph object storage quotas,
      which controls the use of the S3 or swift API.</p>

      <p>This portal is not the openstack web-interface. The openstack
      web-interface (horizon) can be located <a href="{{horizonurl}}">HERE</a>.
      </p>

      {% if next %}
        <form action="{% url 'web.login' %}?next={{ next }}" method="post" class="form-signin" >
      {% else %}
        <form action="{% url 'web.login' %}" method="post" class="form-signin" >
      {% endif %}
        <h2 class="form-signin-heading">Authenticate:</h2>
        
        {% if message %}
          <p>{{ message }}</p>
        {% endif %}

        <p>Please sign in to gain access to the administration-portal:</p>
        {% csrf_token %}
        <label for="username" class="sr-only">Username</label>
        <input type="text" name="username" id="username" class="form-control" 
            placeholder="username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name=password id="inputPassword" 
            class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">
          Sign in
        </button>
      </form>
    </div>
  </body>
</html>
